#contenedor-del-mapa {
    height: 700px;
    width: 700px;
    text-align: center;
}
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }